engine-strict=true
auto-install-peers=true
shamefully-hoist=true

# Default registry (npmjs.org)
registry=https://registry.npmjs.org/
//registry.npmjs.org/:_authToken=${NPM_TOKEN}

# GitHub Packages registry
@imigueldiaz:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}