engine-strict=true
auto-install-peers=true
shamefully-hoist=true

//registry.npmjs.org/:_authToken=${NPM_TOKEN}
//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}

registry=https://registry.npmjs.org/
@imigueldiaz:registry=https://npm.pkg.github.com/
