engine-strict=true
auto-install-peers=true
shamefully-hoist=true

# Only use auth tokens when publishing
//npm.pkg.github.com/:_authToken=${NODE_ENV==="production" ? GITHUB_TOKEN : ""}
//registry.npmjs.org/:_authToken=${NODE_ENV==="production" ? NPM_TOKEN : ""}

@imigueldiaz:registry=https://npm.pkg.github.com/
